.mainContent
{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color:transparent;
}


.topContent
{
  position: absolute;
  width: 100%;
  height: 18%;
  top: 0%;
  background-color:beige;
}


.leftFilterContent
{
  position: absolute;
  width: 30%;
  height: 100%;
  top: 18%;
  background-color:black;
}


.productListContent{
  position: absolute;
  width: 70%;
  height: 100%;
  top: 18%;
  left:30%;
  background-color:transparent;
}

.logoLayout
{
  background-color:transparent;
  position: absolute;
  left: 3%;
  width: 30%;
  height: 100%;
  
}


.searchLayout
{
  background-color:transparent;
  position: absolute;
  left: 38%;
  width: 30%;
  height: 100%;
  top:18%;
}


.cartShowLayput
{
  background-color:transparent;
  position: absolute;
  right: 0%;
  width: 30%;
  height: 100%;
}

.profileLayout
{
  background-color:transparent;
  position: absolute;
  right: 0%;
  width: 100%;
  height: 50%;
  padding-top: 20px;
}

.addCartItemLayout
{
  background-color:transparent;
  position: absolute;
  right: 0%;
  width: 100%;
  height: 50%;
  top:51%;
  padding-top: 5px;
}
.profileNameStyle
{
    position: absolute;
    padding-top: 1%;
    

}

.cartItemStyle
{
    position: absolute;
    padding-top: 1%;
    

}

.loaderLayout{

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 50;

}


