
.checkBodyMainBody
{

    position: absolute;
    top:25%;
    left:5%;
    background-color:transparent;
    width: 90%;
    height: 70%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-gap: 3px;
}


.checkBoxFilterLyout{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-color: gray;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    background-color: transparent;
}

.titleStyle
{
    position: absolute;
    top:4%;
    left:5%;
}

.textStyle
{
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkBoxBody
{
    position: absolute;
    top:0%;
    left:0%;
    background-color:transparent;
}

